{% extends 'index2.html' %}
{% load static %}
{% block espasAff %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<p>
                The rationale for this initiative is memorialized in lyrics from a 1955 concert at Carnegie Hall by the Weavers. In introducing their rendition of “When the Saints Go Marching In,” they opened with the following:

"We are traveling in the footsteps of those that have gone before…"

All fellows have “traveled in the footsteps” and been inspired in their personal lives and their professional work by “those who have gone before…” This initiative allow them to share that experience and what they perceive as major unmet challenges for the future.

Writing in State of the World, David Malin Roodman described the world that the fellows are inheriting:

“So far, the world order emerging is one almost no one wants.”

The fellows are members of a new generation which has unparalleled access to the learned and unlearned lessons of the past, including those transmitted by the “Toward a Sustainable 21st Century” series and the “Empowering Sustainability” seminars at UCI, as they strive to contribute to their own vision of a better future for the Planet.

            </p>
            <p>
                The rationale for this initiative is memorialized in lyrics from a 1955 concert at Carnegie Hall by the Weavers. In introducing their rendition of “When the Saints Go Marching In,” they opened with the following:

"We are traveling in the footsteps of those that have gone before…"

All fellows have “traveled in the footsteps” and been inspired in their personal lives and their professional work by “those who have gone before…” This initiative allow them to share that experience and what they perceive as major unmet challenges for the future.

Writing in State of the World, David Malin Roodman described the world that the fellows are inheriting:

“So far, the world order emerging is one almost no one wants.”

The fellows are members of a new generation which has unparalleled access to the learned and unlearned lessons of the past, including those transmitted by the “Toward a Sustainable 21st Century” series and the “Empowering Sustainability” seminars at UCI, as they strive to contribute to their own vision of a better future for the Planet.

            </p>
		</div>
		<div class="col-md-6">
			<img alt="Bootstrap Image Preview" src="{% static 'img/about-img.jpg' %}" class="rounded" />
		</div>
	</div>
</div>

{% endblock %}