{% extends 'index2.html' %}
{% load static %}
{% block espasAff %}
    <div class="row" style="padding: 10px 10px 10px 10px">
        <div class="col-md-3">
            <div class="member">
                <div class="pic"><img src="{% static 'img/mk.png' %}" alt=""></div>

            </div>
        </div>
        <div class="col-md-9" >
            <h3>Markendy Desormeau</h3>

            <p>Founder at Rerendevdura and livelihood Specialist at Food for the Hungry Dominican (FHD)
                Country: Haiti
                Sustainability Fellow: 2013 - 2017
                I have a Bachelor's degree in Animal production and a Master's degree in animal nutrition from CIHEAM
                (Mediterranean Agronomic Institute of Zaragoza). I am a livelihood Specialist at Food for the Hungry
                Dominican (FHD) and founder at Rerendevdura.
            </p>

        </div>

        <div class="col-md-3"  style="padding: 10px 10px 10px 10px">
            <div class="member">
                <div class="pic"><img src="{% static 'img/Mojgan mo sami.png' %}" alt=""></div>

            </div>
        </div>
        <div class="col-md-9" style="padding-bottom: 10px">
            <h3>Mojgan mo sami</h3>

            <p>Project Scientist, University of California, Irvine Department of Population Health and Disease Prevention, Program in Public Health
Country: United States
Fellow: 2012 - 2017
I’m currently working in the Program in Public Health at UCI on research that explores the nexus between health, environment, infrastructure, justice and equity. My research focuses on the interactions between urban planning, equity, health, justice and sustainability.  I also serve on a global inter-agency task force convened by the World Health Organization on environmental health and urban settings.
​
            </p>

        </div>

            <div class="col-md-3"  style="padding: 10px 10px 10px 10px">
            <div class="member">
                <div class="pic"><img src="{% static 'img/Pascal.jpg' %}" alt=""></div>
            </div>
        </div>
        <div class="col-md-9" >
            <h3>PASCAL ST JUSTE, MBA</h3>

            <p>Ingeniero Agrónomo, Maestría en Administración de Empresas Mención Gestión Empresarial, Diplomado Técnico en Administración de Empresas.
                Asesor y Consultor en Gestión Empresarial. Asesor y Consultor en Agricultura Orgánica. Consultor en Proyectos de Desarrollo Sostenible y Evaluación
                de Impacto Ambiental. Consultor Implementación de las Normas Orgánicas: EU, NOP, Biossuise & JAS. Asesor Técnico y Capacitador en Agronegocios (MIPYMEs).
                Inspector Orgánico (Externo). Instructor de Cursos y Seminarios de Agricultura Orgánica y Sostenible (Buenas Prácticas Agrícolas y Buenas Prácticas de Manufactura).
                Asesor Técnico y Capacitador en Sistema de Control Interno (SIC), para el manejo de Fincas de Producción Orgánica. Experiencia en Investigación y Manejo en Cultivos
                de Banano, Plátano, Cacao, Mango, Café, Piña y Hortalizas. Inspector en Inocuidad de Alimentos, Plantas de Proceso y Comercialización. Monitoring de Plagas y
                Enfermedades en Cultivos de Banano, Plátano, Café y Cacao. Consultor en la Implementación Sistema de Gestión de Calidad (SGC). Asesor Técnico en Aplicaciones de
                Productos Fitosanitarios.
                Asesor en Producción y Comercialización de Productos Orgánicos.
            </p>

        </div>
    </div>

{% endblock %}